body{
    margin: 0;
    font-family: "游ゴシック";
}

.space{
    margin-top: 10%;
}

#header {
    width: 100%;
    height: 10%;
    background-color: rgba(234, 232, 225,0.8);
    align-items: center;
    display: flex; 
    position: fixed;
    text-align: center;
    z-index: 3;
}
   
.title {
    margin: auto;
}

.menu-group-left{
    margin: auto;
    text-align: center;
    letter-spacing: -1em; /* 文字間を詰める */
    white-space: nowrap; /* 自動で折り返ししない */
}

.menu-group-right{
    margin: auto;
    text-align: center;
    letter-spacing: -1em; /* 文字間を詰める */
    white-space: nowrap; /* 自動で折り返ししない */ 
}
   
.bar-left{  
    margin-left: 20%;
    width: 20%;
}

.bar-right{
    width: 20%;
    margin-right: 20%;
}

.menu-item {
    display: flex;
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 2.5%;
}


#center{
    float: center;
    width: 86%;
    background-color: white;
    text-align: center;
    margin: auto;
    padding-bottom: 2.2%;
    margin-bottom: 2.7%;
    height: 80%;
}

#footer{
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color:rgb(234, 232, 225,1) ;
    align-items: center;
    display: flex;
    text-align: center;
}


.start {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
    text-align: center;
}

.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.footerFixed{
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 8%; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

.opening{
    background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
    text-align: center;
}

.opening p{
    position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.opening-mono{
    background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
    text-align: center;
}

.opening-mono p{
    position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}